#faq {
  animation: fade .6s;
  -moz-animation: fade .6s;
  -webkit-animation: fade .6s;
  p, h3 {
    font-family: 'avenir', 'avenir next', helvetica, arial, sans-serif;
  }
}

.code {
  font-size: 1em;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace!important;
}

.question-chevron {
  margin-right: 5px;
  font-size: .8em!important;
  transition: transform .1s ease;
}

.question-title {
  margin-top: 20px!important;
  &:hover {
    opacity: .7;
    text-decoration: underline;
  }
}

.question-content {
  display: none;
}